.popup-overlay {
  position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: rgba(68,66,83,.8);
    backdrop-filter: blur(5px);
    z-index:-1;
}

.popup-content{
  position:relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    font-size: 24px;
    background-color: #272833;
    height: 500px;
    width: 500px;
}

#load_form{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 150px;
}

.airtable-embed-feedback{
  position: absolute;
}

@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    -webkit-animation: anvil 0.025s cubic-bezier(0.38, 0.1, 0.36, 0.9);
  }

