
#total-container {
  width:75%;
  margin: auto;
  margin-bottom: 200px;
}

#back-to-results-button {
  color: white;
  float: left;
}

#product-details-container {
  background-color: #363342;
  border-radius: 30px;
  margin-bottom: 100px;
  /* border: 2px solid orange; */
  display: flex;
  min-height: 250px;
  padding:25px;
}

#img-container {
  margin:auto;
}

#product-image {
  width:300px;
  height: 300px;
  border-radius: 12px;
}

#product-details {
  order: 2;
  /* border: 1px solid red; */
  float: left;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: auto;
  padding: 5% 5% 5% 5%;
}

#product-detail-brand {
  color: #aeafb7;
  text-align: left;
}

#product-detail-title {
  color: white;
  text-align: left;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  height: 40px;
  /* border: 1px solid blue; */
  overflow: hidden;
}

#product-detail-description {
  height: 90px;
  /* border: 1px solid yellow; */
  color: white;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
}

#product-detail-price {
  color: white;
  text-align: left;
}
#product-button-group {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  padding-bottom: 5px;
}

#share-button {
  text-align: center;
  margin-left: 100px;
  margin-right: 5px;
  width: 25%;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  display: inline;
  float: right;
}
#share-button a {
  margin: auto;
  text-decoration: none;
  color: white;
}

#card_button_a {
  margin-left: 5px;
  margin-right: 5px;
  width: 45%;
  background-color: #4dddea;
  border-radius: 12px;
}
#card_button_a a {
  margin: auto;
  text-decoration: none;
  color: black;
}
