.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: calc(5px + 2vmin);
}

.logo {
  height: 50vmin;
  background-color: transparent;
}

.arrow {
  height: 5vmin;
  width: 5vmin;
  background-color: transparent;
}

.App-title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.5px;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:black;
}

.App-link {
  color:black;
}

.choicesContainer {
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.Question {
  max-width: 650px;
  text-align: center;
  margin: auto;
}

.columns {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 2em;
  gap: 50px;
  justify-content: center;
}

.column {
  max-width: 300px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.footer p {
  text-align: left;
  padding-left: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
