.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: calc(5px + 2vmin);
}

.logo {
  height: 300px;
  background-color: transparent;
  margin: auto;
}

.arrow {
  height: 5vmin;
  width: 5vmin;
  background-color: transparent;
  margin-top: 1em;
  margin-bottom: 2em;
}

.App-title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.5px;
  margin: 2em;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:black;
}

.App-link {
  color:black;
}

.choicesContainer {
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 15px;
  max-width: 350px;
  margin: auto;
}

.instructions {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Question {
  max-width: 650px;
  text-align: center;
  margin: auto;
}

.columns {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap: 4em;
  justify-content: center;
}

.column {
  max-width: 300px;
  text-align: left;

  /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);*/
  /*background-color: white;*/
}

.column p {
  font-size: calc(5px + 1vmin);
}

.line {
  margin: 2em;
}

.footer {
  background-color:whitesmoke;
  position: absolute;
  width: 100%;
  font-size: calc(5px + 1vmin);
}

.footerText {
  margin: 3em;
}

.footer p {
  text-align: center;
  color: black;
}

.instagram {
  width: 16px;
  height: 16px;
  color: black;
}

.results {
  width: 100vw;
}