.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: calc(5px + 2vmin);
}

.logo {
  height: 300px;
  background-color: transparent;
  margin: auto;
}

.App-title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.5px;
  margin: 2em;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:black;
}

.App-link {
  color:black;
}

.choicesContainer {
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 15px;
  max-width: 350px;
  margin: auto;
}

.instructions {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Question {
  max-width: 650px;
  text-align: center;
  margin: auto;
}

.columns {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap: 4em;
  justify-content: center;
}

.column {
  max-width: 300px;
  text-align: left;

  /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);*/
  /*background-color: white;*/
}

.column p {
  font-size: calc(5px + 1vmin);
}

.line {
  margin: 2em;
}

.footer {
  background-color:whitesmoke;
  position: absolute;
  width: 100%;
  font-size: calc(5px + 1vmin);
}

.footerText {
  margin: 3em;
}

.footer p {
  text-align: center;
  color: black;
}

.instagram {
  width: 16px;
  height: 16px;
  color: black;
}

.results {
  width: 100vw;
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* Button Class for Quiz Choices */
/*.choiceButtons button {
  width: calc(90px + 2vmin);
  height: calc(45px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-color: #fff;
  border: 1.5px solid black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0;
  border-radius: 12px;
  font-size: calc(5px + 1vmin);
  padding: 5px 10px;
}
*/

button {
  width: calc(90px + 2vmin);
  height: calc(45px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-color: #fff;
  border: 1.5px solid black;
  /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);*/
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0;
  /*border: none;*/
  border-radius: 50px;
  font-size: calc(5px + 1vmin);
}

button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: white;
  
}

#startButton {
  margin-bottom: 2em;
}

#submitButton {
  margin-bottom: 2em;
}

#backButton {
  margin-bottom: 2em;
}

#top {
  margin-top: 2em;
  align-items: center;
}

.Presently-logo {
  margin: 2em;
}

.brand-description p {
  margin: 0;
}

.Presently-logo a:link {
  color: black;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.Presently-logo a:visited {
  color: black;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.Presently-logo a:hover {
  color: #a160fb;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease 0s;
}

.footer a:link {
  color: black;
  text-decoration: none;
}

.footer a:visited {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.question {
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
}

.answers {
  font-weight: lighter;
  margin-bottom: 50px;
  font-size: calc(5px + 2vmin);
}

#submit {
  width: calc(220px + 2vw);
  height: calc(70px + 2vh);
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

/*#container {
  width: 450px;
  overflow-x: scroll;
  justify-content: center;
  margin: auto;
}*/

#questionsContainer {
  /*display: inline-flex;*/
  width: 350px;
  justify-content: center;
  margin: auto;
}

#questionContainer {
  /*float: left;
  min-width: 450px;*/
  margin-bottom: 4em;
}

#submit:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: black;
  transform: translateY(-3px);
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  margin: 30px
}
