.root {
    --titleFontSize : 2.1vw;
    --screenHeight : calc(100vh);
    --screenWidth : calc(100vw);
    --paragraphSize: 2vw;
  
  }
  
  * {
    font-family: 'Sofia Pro', sans-serif;
    margin: 0%;
  }

#HomePage {
    background: url(/background.svg) repeat;
    background-size: 100% auto; 
}

#HomePageContents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    
}

#StartQuizSection {



}

#typingEffectContainer {
    display: flex;
    flex-direction: row;
}
#AboutGiftPickerSection {

}

#MoreInfoSection {

}

#FAQSection {

}