:root {
  --titleFontSize: 2.1vw;
  --screenHeight: calc(100vh);
  --screenWidth: calc(100vw);
  --paragraphSize: 2vw;
  --paragraphFontSize: 1.5vw;

  /*colors*/
  --turquoise1: #0098a6;
  --turquoise2: #00c3d4;
  --turquoise3Main: #4dddea;
  --turquoise4: #c2faff;
  --turquoise5: #7d9d9f;

  --grey1: #272833;
  --grey2: #363342;
  --grey3: #444253;
  --grey4: #aeafb7;
  --grey5: #f9fbff;

  --pink1: #b12846;
  --pink2: #d23054;
  --pink3Main: #ff5d81;
  --pink4: #ffb8c8;
  --pink5: #b5848f;

  --orange1: #c15500;
  --orange2: #ff9a4a;
  --orange3Main: #ffbd89;
  --orange4: #ffd2ae;
  --orange4: #a89281;

  --purple1: #4e0098;
  --purple2: #8000f9;
  --purple3Main: #8b30e1;
  --purple4: #debbff;
  --purple5: #80629c;
}

* {
  font-family: "Sofia Pro", sans-serif;
  margin: 0%;
}

#HomePage {
  display: flex;
  flex-direction: column;
  background-image: url("./background9.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}


#HomePageContents {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0vw;
}

#StartQuizSection {
  display: flex;
}

#startSectionText {
  padding-left: 10vw;
  width: 55vw;
  padding-right: 10vw;
  margin-top: 20vh;

  justify-self: left;
  text-align: left;
  padding-bottom: 10vh;

}

#aboutImg {
  align-self: flex-end;
  justify-self:baseline;
  width: 40%;
<<<<<<< HEAD
  padding-top: 5vh;
  margin: 0px;
=======
  padding-bottom: 0vh;
  padding-top: 8vh;
>>>>>>> 4d186b2afb85d0508ceb0a3392509293b6e9b4b0
  img {
    height: fit-content;
    width: fit-content;
  }
}

#homepageTitle {
  display: inline-block;
  margin-bottom: 5vh;
}

#typingEffect {
  color: #4dddea;
}


#startQuizButton {
  margin-top: 10vh;
  position: relative;
  min-width: 18vw;
  min-height: 4vw;
  background-color: #00c3d4;
  color: #fff;
  border-radius: 10px;
  font-size: var(--paragraphFontSize);
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: "Sofia Pro", sans-serif;
}

#startQuizButton:hover {
  background-color: #0098a6;
  color: #c2faff;
  box-shadow: 0 5px 15px #272833;
}


#AboutGiftPickerSection {
  display: flex;
  flex-direction: column;
}

#MoreInfoSection {
  background-color: #272833;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#aboutText {
  width: 25vw;
  align-self: flex-start;
  margin-top: 10vh;
  h3 {
    font-weight: normal;
    text-justify: left;
    text-align: left;
  }
}



#Partners {
  padding-top: 20vh;
  padding-bottom: 15vh;
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2.2vw;
  }
  background-color: #111113;

}

#PartnersLogosContainer {
  margin-top: 5vh;
  padding-top: 5vh;
  margin-inline: 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
}

.partnerImage {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 2vw 2vw 1vw 1vw;
  background-color: whitesmoke;
}
.partnerImage:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

/* FAQ */

#FAQSection {
  padding-top: 2vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;


  background-color: #111113;
}

#FAQBubble {
  background-image: url("./background9.svg") ;

  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 5vh;
  border-radius: 30px;
  margin-bottom: 0;
  overflow: hidden;
  text-align: left;

  h2 {
    padding-top: 8vh;
    padding-bottom: 5vh;
    font-weight: normal;
    text-align: center;
    font-size: 2.2vw;

  }
  p {
    font-weight: normal;
  }
}

#Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 10vh;
  top: 0%;
  right: 0%;
  position: sticky;
  min-width: auto;
  flex-basis: auto;
  background-color: transparent;
}

#Header2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 10vh;
  top: 0%;
  right: 0%;
  position: sticky;
  min-width: auto;
  flex-basis: auto;
  background-color: transparent;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

#bannerText{
  display: flex;
  width: 100%;
  padding: 2vh;
  min-height: 4vh;
  justify-content: center;
  top: 0%;
  right: 0%;
  position: static;
  min-width: auto;
  flex-basis: auto;
  background-color: #ff5d81;
  color: white;
}

#HeaderLogoButton {
  height: 4vw;
  width: 55rem;
  margin: 0%;
  object-fit: contain;
  align-self: right;
  margin-right: 5vw;
  margin-left: 10vw;
  margin-top: 2vw;
}

/** accordian **/
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  height: auto;
  display: flex;

  .col {
    flex: 1;
    &:last-child {
    }
  }
}
/* Accordion styles */
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);

    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
