body {
  margin: 0;
  text-align: center;
  background: whitesmoke;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(5px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  background-color: white;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

button {
  width: calc(90px + 2vmin);
  height: calc(45px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-color: #fff;
  border: 1.5px solid black;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 50px;
  font-size: calc(5px + 1vmin);
}

button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: white;
  
}

#submitButton {
  margin-bottom: 4em;
}

#backButton {
  margin-bottom: 4em;
}

#top {
  margin-top: 4em;
  align-items: center;
}

.Presently-logo a:link {
  color: black;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.Presently-logo a:visited {
  color: black;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.Presently-logo a:hover {
  color: #a160fb;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease 0s;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.question {
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
}

.answers {
  font-weight: lighter;
  margin-bottom: 50px;
  font-size: calc(5px + 2vmin);
}

#submit {
  width: calc(220px + 2vw);
  height: calc(70px + 2vh);
  font-size: calc(10px + 2vmin);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

/*#container {
  width: 450px;
  overflow-x: scroll;
  justify-content: center;
  margin: auto;
}*/

#questionsContainer {
  /*display: inline-flex;*/
  width: 350px;
  justify-content: center;
  margin: auto;
}

#questionContainer {
  /*float: left;
  min-width: 450px;*/
  margin-bottom: 4em;
}

#submit:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: black;
  transform: translateY(-3px);
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  margin: 30px
}

